.contact_container{
  padding-top: 20px;
  margin-bottom: 50px;
}
.container_card{
display: grid;

}
.centered_card {
  display: grid;
  justify-content: center;
align-items: center;
  line-height: 1.6;
}
.subtitle_contact {
text-align: center;
/* margin-top:20px; */
}
.card {
width:300px;
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin:20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
padding: 12px 12px;
display: grid;
justify-content: center;
align-items: center;

}
.headset{
padding-top:20px;
font-size: 80px;
display: grid;
justify-content: center;
align-items: center;
color:#562A84;
}
.btn-chat {
background-color: #ffffff;
border: 2px solid #562A84;
color: #562A84;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
/* margin: 4px 2px; */
margin-right: 40px;
margin-left: 40px;
cursor: pointer;
padding: 10px 24px;
text-transform: uppercase;
}
.btn-chat:hover {
background-color:#562A84 ;
color: #ffffff;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
/* margin: 4px 2px; */
margin-right: 40px;
margin-left: 40px;
cursor: pointer;
padding: 10px 24px;
text-transform: uppercase;
}
.titleContact {
font-size: 36px;
color: #562A84;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
text-transform: uppercase;
}
.liveChat {
padding-bottom: 20px;
}

@media (min-width:768px){
  .contact_container{
    /* height: 100vh; */
    padding-top: 20px;
    margin-bottom: 50px;
}
.container_card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: none;
align-items: none;
}
.centered_card {
  display: grid; 
    justify-items: center;
    align-items: center;
    line-height: 1.6;
}
.subtitle_contact {
  text-align: center;
  /* margin-top:50px; */
}

.card {
  width:400px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 40px 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  
}
.headset{
  padding-top:20px;
 font-size: 80px;
 display: grid;
 justify-content: center;
 align-items: center;
 color:#562A84;
}
.btn-chat {
  background-color: #ffffff;
  border: 2px solid #562A84;
  color: #562A84;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  padding: 10px 24px;
  text-transform: uppercase;
}
.btn-chat:hover {
  background-color:#562A84 ;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  margin-right: 40px;
  margin-left: 40px;
  cursor: pointer;
  padding: 10px 24px;
  text-transform: uppercase;
}
.titleContact {
  font-weight: 300;
font-size: 58px;
color: #562A84;
text-align: center;
margin-top: 40px;
padding-bottom: 10px;
text-transform: uppercase;
}
.liveChat {
  padding-bottom: 20px;
}
}
