.Footer {
    position: relative;
    right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  height: 200px;
  display: grid;
/* justify-content: center;
align-items: center; */
}
.icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  /* margin:20px; */
font-size: 34px;
}
.icons,li{
  list-style-type: none;
  padding-left: 10px;
  cursor: pointer;
}
 .facebook{
    color: #3B5998;
  }
  .twitter{
    color: #1B95E0;
  }
.whatsapp{
  color:#00E676
}
.linkedin {
  color: #0073B1;
} 
.copyright{
  text-align: center;
}

@media (min-width: 768px){
  .Footer {
    position: relative;
    right: 0;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: #333;
  color: white;
  height: 200px;
  display: grid;
/* justify-content: center;
align-items: center; */
}
}