.home_container {
  background: #fff;

  } 
  .paragraph{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  
  }
  .image-container{
    text-align: center;
  }
  .logotwo{
    padding-top: 100px;
      width: 200px;
  }

  .btn-container{
display: flex;
justify-content: center;
flex-wrap: nowrap;
  }
  .btn-download {
    border: 1px solid
    #562A84;
    color:
    #562A84;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color:
    #fff;
    border-radius: 30px;
    margin: 10px;
  }
  
  .begin_home {
    font-weight: 700;
    font-size: 28px;
    color: #562A84;
  }
 @media (min-width: 768px){
  .btn-container {
    text-align: none;
     }
  .home_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    background: #fff;
    }
    .centered_Home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 70px;
    padding-bottom: 70px;
    
    }
    .paragraph_home {
      padding-top: 180px;
      align-items: center;
      line-height: 1.6;
      text-align: justify;
     
    }
    
    .logotwo{
        width: 300px;
    
    }
    .btn-download {
      border: 1px solid
#562A84;
color:
#562A84;
padding: 12px 20px;
cursor: pointer;
font-size: 20px;
background-color:
#fff;
border-radius: 30px;
margin: 10px;
    
    }
    .btn-download:hover {
      border: 1px solid#562A84;
color:#fff;
padding: 12px 20px;
cursor: pointer;
font-size: 20px;
background-color:#562A84;
border-radius: 30px;
margin: 10px;
    
    }
    .btn-container{
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
        }
} 