.navbar {
    background-color: #fff; 
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-nav {
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
}



.nav-links {
    text-transform: uppercase;
    text-decoration: none;
    color:#562A84;
}
/* .nav-links>.active {
    border-left: 2px solid #562A84;
    padding-left:4px;
} */
.main-nav li {
    text-align: center;
    /* margin: 15px auto; */
  
}
.active_Nav > li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #562a8440;
}
.home__border-top {
    border-top: 4px solid #562a8440;
}
.logo {
    width: 70px;
    border-radius: 50%;
    display: flex;
  
}
.navbar__toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #562A84;
    font-size: 34px;
}
.main-nav {
    list-style-type: none;
    display: none;
}

.active_Nav {
    display: grid;
    text-align: center;
    list-style-type: none;
    margin: 15px auto;
  }


   @media screen and (min-width: 768px) { 
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        position:fixed;
        width: 100%;
        font-size: 18px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 40px;
    }

    .main-nav li {
        margin: 0;
    }
    .home__border-top {
        border-top: none;
    }
    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-left: 40px;
        margin-top: 8px;
        width: 70px;
        border-radius: 50%;
    }
    .navbar__toggle {
        display: none;
     }
     .nav-links{
         color:#562A84;
     }
}